{% extends "dashboard.html" %}


{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                add Player
            </h3>
        </div>
        <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{message.tags}}" {% endif %} style="list-style: none;"></li>
                                {{message}}
                            </li>
                            {% endfor %}
                        </ul>
                        {%  endif  %}
                        <h4 class="card-title">Register Player Details</h4>
                        <p class="card-description">
                            Register Player
                        </p>
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
</div>
{% endblock content %}